.login_wrap {
    background: url('../../assets/img/bg_login.jpg') center center no-repeat;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    content: "";
    background-position: center top;
    background-size: cover;
    -webkit-filter: blur(15px);
    -moz-filter: blur(15px);
    -o-filter: blur(15px);
    -ms-filter: blur(15px);
    filter: blur(3px);
}

.from_group {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.login-form {
    max-width: 300px;
    background: #fff;
    padding: 10px 50px;
    border-radius: 10px;
    box-shadow: 0 0 4px 0 rgba(0, 150, 230, 0.4);
    .title {
        text-align: center
    }
}

.login-form-button {
    display: block;
    margin-top: 10px;
    width: 100%;
}