<div class="login_wrap">
</div>
<div class="from_group">
    <div class="login-form">
        <div class="title-wrap">
            <h1 class="title">后台管理</h1>
        </div>
        <form nz-form [formGroup]="validateForm">
            <nz-form-item>
                <nz-form-control>

                    <nz-input-group [nzPrefix]="prefixUser">
                        <input nz-input formControlName="userName" placeholder="请输入账号">
                    </nz-input-group>
                    <nz-form-explain *ngIf="validateForm.get('userName').dirty && validateForm.get('userName').errors">请输入账号!</nz-form-explain>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-control>
                    <nz-input-group [nzPrefix]="prefixLock">
                        <input type="password" nz-input formControlName="password" placeholder="请输入密码">
                    </nz-input-group>
                    <nz-form-explain *ngIf="validateForm.get('password').dirty && validateForm.get('password').errors">请输入密码!</nz-form-explain>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-control>
                    <label nz-checkbox formControlName="remember">
                          <span>Remember me</span>
                        </label>
                    <button nz-button class="login-form-button" [nzType]="'primary'" (click)="submitForm()">登录</button>
                </nz-form-control>
            </nz-form-item>
        </form>
    </div>
</div>

<ng-template #prefixUser><i nz-icon type="user"></i></ng-template>
<ng-template #prefixLock><i nz-icon type="lock"></i></ng-template>