.red {
    background: #fa4659;
    position: relative;
    min-height: 120px;
    color: white;
}

.green {
    background: #4bbb8b;
    position: relative;
    min-height: 120px;
    color: white;
}

.blue {
    background: #2aa9d2;
    position: relative;
    min-height: 120px;
    color: white;
}

.purple {
    background: #7971ea;
    position: relative;
    min-height: 120px;
    color: white;
}

.icon {
    position: absolute;
    font-size: 60px;
    right: 20px;
    bottom: 20px;
    /* color: fade((#FFF), 80%); */
    color: #fff;
    opacity: .8;
}

.count {
    font-size: 40px;
    margin-bottom: 10px;
}