<div class="dashboard">
    <div nz-row nzGutter="16" class="card-list">
        <div nz-col nzSpan="6" *ngFor="let risk of riskList;let i = index">
            <nz-card [class]="COLOR_SET[i].color" style="border-radius: 8px;" [nzHoverable]="true">
                <p class="count">{{risk.count}}</p>
                <p>{{RISK_TYPE[risk.type]}}</p>
                <i nz-icon class="icon" [type]=" COLOR_SET[i].icon" theme="outline"></i>

                <!-- <i [class]="'anticon icon  '+ COLOR_SET[i].icon"></i> -->
            </nz-card>
        </div>
    </div>

    <div nz-row nzGutter="16" style="margin-top:20px">
        <div nz-col class="gutter-row" nzSpan="12">
            <nz-card nzTitle="最新文章">
                <nz-list [nzDataSource]="article" nzBordered [nzRenderItem]="item1">
                    <ng-template #item1 let-item>
                        <nz-list-item style="color: #008dff;cursor:pointer" [nzContent]="item.title"></nz-list-item>
                    </ng-template>
                </nz-list>
            </nz-card>
        </div>
        <div nz-col class="gutter-row" nzSpan="12">
            <nz-card nzTitle="最新评论">
                <nz-list [nzDataSource]="comments" [nzRenderItem]="item" [nzItemLayout]="'horizontal'">
                    <ng-template #item let-item>
                        <nz-list-item>
                            <nz-list-item-meta [nzTitle]="nzTitle" [nzDescription]="item.content">
                                <ng-template #nzTitle>
                                    {{item.author+' '+' 于 ' +item.time+' '+ ' :'}}

                                </ng-template>
                            </nz-list-item-meta>
                        </nz-list-item>
                    </ng-template>
                </nz-list>
            </nz-card>
        </div>

    </div>


</div>